################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Client Files/C++/AuthMeConsoleApp/.vs/AuthMeConsoleApp
/Client Files/C++/AuthMeLib/x64/Release
/Client Files/C++/AuthMeLib/.vs/AuthMeLib/FileContentIndex
Web Panel/dev_config.php
